<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton label="Dodaj" icon="pi pi-plus" (click)="openNew()"></button>
  </div>
</p-toolbar>

<p-table [value]="phones" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Imię</th>
      <th>Numer telefonu</th>
      <th>Akcje</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-phone>
    <tr>
      <td>{{ phone.name }}</td>
      <td>{{ phone.phoneNumber }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                (click)="editPhone(phone)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deletePhone(phone)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="{{isEdit ? 'Edytuj kontakt' : 'Nowy kontakt'}}" [(visible)]="phoneDialog" [modal]="true">
  <div class="p-fluid">
    <div class="field">
      <label>Imię</label>
      <input pInputText [(ngModel)]="phone.name" required />
    </div>
    <div class="field">
      <label>Numer telefonu</label>
      <input pInputText [(ngModel)]="phone.phoneNumber" required />
    </div>
  </div>
  <footer>
    <button pButton label="Zapisz" (click)="savePhone()"></button>
  </footer>
</p-dialog>


