<!--<div class="layout-wrapper" [ngClass]="containerClass">-->
<!--&lt;!&ndash;    <app-topbar></app-topbar>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="layout-sidebar">&ndash;&gt;-->
<!--&lt;!&ndash;        <app-sidebar></app-sidebar>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div class="layout-main-container">-->
<!--        <div class="layout-main">-->
            <router-outlet></router-outlet>
<!--        </div>-->
<!--&lt;!&ndash;        <app-footer></app-footer>&ndash;&gt;-->
<!--    </div>-->
<!--    <app-config></app-config>-->
<!--    <div class="layout-mask"></div>-->
<!--</div>-->
